.priceTable {
    width: 100%;
    height: 400px;
    overflow: auto;
}

.coin-icon {
    width: 15px;
    margin-right: 10px;
}

.price-column-header {
    display: flex;
    flex-shrink: 0;
}

.table-item {
    font-size: 12px;
}

.price-column-header p {
    font-size: 14.5px;
    letter-spacing: -0.5px;
    color: #b9b9b9;
    text-align: center;
}

.price {
    display: flex;
    width: 550px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}


.coin-name, .coin-name-header {
    width: 99px;
    height: 52px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.trending-arrow {
    font-size: 20px;
    margin-left: -4px;
    margin-right: -10px;
    vertical-align: -5px;;
}

.coin-name-header {
    justify-content: center;
}

.last-price, .volume24, .high24, .low24 {
    height: 52px;
    line-height: 52px;
    text-align: center;
    flex-shrink: 0;
}

.coin-name-header {
    width: 99px;
}

.last-price {
    width: 125px;
    white-space: nowrap;
}

.volume24 {
    width: 153px;
    white-space: nowrap;
}

.high24 {
    width: 97px;
}

.low24 {
    width: 95px;
}

.to-pointer:hover {
    cursor: pointer
}

.tab {
    display: none;
}
  
.active-tab {
    display: block;
}

.tab-selector {
    display: flex;
    padding-left: 40px;
    margin: 16px 0;
}

.tab-button {
    display: flex;
    width: 106px;
    height: 45px;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
}

.tab-button:hover{
    background-color: #dbdbdb;
    cursor: pointer;
    transition: all 300ms ease;
}

@media (min-width: 769px) {
    .price, .price-column-header {
        /* background-color: green; */
        width: 100%
    }

    .price  > * , .price-column-header>*{
        flex-grow: 1;
    }

    .tab-selector {
        padding: 0;
        border-bottom: 1px solid #b9b9b9ad;
        margin: 5px 0;
    }
}